<h4>Edit a Figure</h4>
<%binding.pry%>
<form action="/figures/<%= @figure.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">

  <p>Figure Name:<input type="text" name="figure_name" id="figure_name" value="<%=@figure.name%>"></p>

  <p>New Landmark:<input type="text" name="new_landmark" id="new_landmark" value="<%=@figure.landmark.name%>">

  <input type="submit" value="Edit Figure">
</form>
