<h1>Edit a Figure</h1>
<form action="/figures/<%= @figure.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">

  <p>Figure Name:<input type="text" name="figure[name]" id="figure_name" value="<%= @figure.name %>"></p>

  <h4>Titles</h4>
  <% @figure.titles.each do |title| %>
    <input type="checkbox" id="figure[title_ids]"><%=title.name%></input>
  <%end%>


  <p>New Landmark:<input type="text" name="new_landmark" id="new_landmark">

  <input type="submit" value="Edit Figure">
</form>
